<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vaibhav.project1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconq"
        android:label="Quiz"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Quiz"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="About Us">
        </activity>
        <activity
            android:name=".Register"
            android:label="Create a new account">
        </activity>
        <activity
            android:name=".Welcome"
            android:label="QUIZ"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>